[2017-01-16 20:14] jaymoulin opened #1 "Handle signals"
https://www.ctl.io/developers/blog/post/gracefully-stopping-docker-containers/

[2017-02-06 22:21] jaymoulin opened #2 "Updatable binary"
Find a way to update Plex without the need to recreate the container

[2017-02-12 00:19] jaymoulin opened #3 "Consider use of Alpine arm"
Explicit title

[2017-02-12 18:51] bashmakoff commented on #3
Cool! I would be a significant size drop.
Also i'd like to mention that if you are using `--net=host` option then additional `-p 32400:32400` isn't needed.
I couldn't find how to achieve working port forwarding w/o using `--net=host`

[2017-02-19 23:50] jaymoulin commented on #3
It looks like compromised since Plex uses locales and this system seems not compatible with Alpine for now (https://github.com/gliderlabs/docker-alpine/issues/144). Also, Plex requires libc6 in version >= 2.19 and actual version is an old compliant version.

The best result I was able to get is this

[code]

[2017-02-26 18:20] bashmakoff commented on #1
Just a tiny description (might be helpful for others)

If after the each restart you're getting the message in logs:
**_Plex Media Server is already running. Will not start..._**

Stop the container and manually delete the following file:
`/Library/Application Support/Plex Media Server/plexmediaserver.pid`
In the **plex library** folder which you have previously mounted to the `/root` folder in a

[2017-02-26 18:39] jaymoulin commented on #1
You're right! I'm also aware of your problem but that's not the purpose of this issue. As the link in the description explain, the problem remains in the docker container stop process which force kill Plex instead of a graceful exit.

By fixing this, you should not be able to reproduce the PID file behavior

[2017-03-04 05:16] #1 closed, assigned to jaymoulin

[2017-04-07 14:30] jaymoulin opened #4 "Stable Docker images"
This docker image will always install the latest Plex Media Server.
Please use a Dockerfile that installs only a stable version

[2017-04-21 15:30] #3 closed, assigned to jaymoulin

[2017-04-21 15:31] #4 closed, assigned to jaymoulin

[2017-08-01 15:22] jaymoulin commented on #2
This would increase container and image sizes and will not follow Docker recommendations

[2017-08-01 15:22] #2 closed, assigned to jaymoulin

[2017-08-27 20:22] SeameX opened #5 "Plexserver is not starting."
Hi,

im using a rpi 2 with latest hypriot os and your latest rpi plex image. It is not starting.
Im always getting:
`Segmentation fault (core dumped)
rm: can't remove '/root/Library/Application Support/Plex Media Server/plexmediaserver.pid': No such file or directory
6 3000 /root/Library/Application Support
`
Best regards

Stefan

[2017-08-28 10:10] jaymoulin commented on #5
I don't have an RPI2 available at the moment so I won't be able to test but it should be compatible. Did you try to start Plex without any volume just to verify that the issue is related to the image without any contextual data?

[2017-09-01 19:55] SeameX commented on #5
Sorry for the late response. Yes i tried it without mountpoints but there is no difference.

[2017-09-03 21:00] jaymoulin commented on #5
Just received a RaspberryPi2 and tested the latest docker image on HypriotOS latest version and wasn't able to reproduce your issue.
What are exactly your versions of RaspberryPI, OS, Docker and the command you typed?

[2017-09-05 16:17] SeameX commented on #5
Nevermind! I used the wrong pi ... (B+)

[2017-09-05 16:17] #5 closed, assigned to jaymoulin

[2017-11-19 10:22] jaymoulin opened #6 "Consider multiarch docker image"

[2017-12-04 19:51] Sloy opened #7 "Error: Memory cgroup not supported"
When I install and then run docker with the suggested commands I get the following error:
[code]

Thanks to [this StackOverflow answer](https://stackoverflow.com/a/47522222/835787), the problem seems to be related to a recent release of docker and using an older one works as a workaround while they fix it:
`$ sudo apt install docker-ce=17.09.0~ce-0~raspbian`

Or if you don't use raspbian like me (

[2017-12-04 23:04] jaymoulin commented on #7
I don't get the issue. What did you do?. My version is this one :
[code]

[2017-12-04 23:06] jaymoulin commented on #7
I don't think you'll have this issue installing via the official script that I attached to the `README`

[2017-12-04 23:17] Sloy commented on #7
Hum, maybe the raspbian version is not affected :O
I did install docker with the script from the readme. The difference is I'm running OpenMediaVault in my raspi.

I get the error with that same version:
[code]
This is the installed package:
[code]

But again, downgrading to the version 17.09.0 as above seems to do the trick for me.
If you don't have the same issue that's good news.

[2017-12-04 23:21] jaymoulin commented on #7
I'm not running a raspbian, that may explain! Thanks for reporting anyway!

[2017-12-04 23:21] #7 closed, assigned to jaymoulin

[2017-12-05 00:31] #6 closed, assigned to jaymoulin

[2017-12-08 04:25] ns-cweber opened #8 ""No supported platform..." when I try to run this on RPI"
I'm trying to run this on RancherOS (`aarch64` according to `uname -m`) on my RPI3, but before it pulls, I get the following:

[code]

[2017-12-08 13:16] jaymoulin commented on #8
Is it better for you?

[2017-12-09 02:08] ns-cweber commented on #8
@jaymoulin That worked. Now for https://github.com/jaymoulin/docker-rpi-plex-video-converter?

[2017-12-09 02:16] ns-cweber commented on #8
Well, I guess maybe it's not working. Now it's doing this:

[code]

[2017-12-09 10:42] jaymoulin commented on #8
I'll handle it but please create a ticket in the correct project so other users can have tracks of this issue

[2017-12-09 10:42] #8 closed, assigned to jaymoulin

[2017-12-09 15:33] jaymoulin commented on #8
Nevermind, I handled aarch64 for `rpi-plex-video-converter:0.2.2`. Also no problem with your error messages as you will probably notice  by testing the application

[2017-12-11 15:27] ns-cweber commented on #8
Thank you for taking care of this!

[2018-02-24 01:15] aswathraja opened #9 "Problem Running the Docker Image"
I am unable to get the daemon to run. the daemon.sh shell script doesnt find any start_pms file and pid file. should i download the deb file from dev2day and install that first?
and as expected docker image wont start without the daemon not runnning

[2018-02-24 08:40] jaymoulin commented on #9
please be more specific on what command you are typing and what result you get. This docker image purpose is to get a Plex server running without additional download

[2018-02-26 10:52] #9 closed, assigned to jaymoulin

[2018-04-25 19:45] Darren-Hill opened #10 "Unable to claim server"
Hi,

I've just set up the new jaymoulin/plex image on my Pi3 under HypriotOS, and I'm having an issue with it.

It fully installs and runs fine, and is initially accessible via pi-ip:32400/web/index.html (although not via pi-ip:32400 for some reason). I get the normal Plex screen with a banner on it that an unclaimed server has been detected and offering the option to claim it. Selecting this take

[2018-04-26 11:38] jaymoulin commented on #10
Looks like you may have a problem with your mounted device. Data should be stored in `/root/Library` volume.
Also, please check your internet connectivity, you should be able to access directly through `pi-ip:32400` without specifying the full path (is `--net=host` parameter used? ).

P.S: Thanks for reporting issue with hub docker links. This is fixed

[2018-04-26 13:28] Darren-Hill commented on #10
Jay,

The drive has 2 partitions, one NTFS (with the media on it) and one ext4 (with my NextCloud container's database on it). Both are mounted under /media, and are fully accessible to my Hypriot user log-in (read and write).

From your comment I tried to set both partitions as the volume target (in seperate tests with newly created containers), but I get the same error with either. I'm using thi

[2018-04-26 13:40] Darren-Hill commented on #10
To add, if I SSH into the Pi and go to the /media/cloud/plex/library folder, I can see a new sub-folder tree now with "/Application Support/Plex Media Server/" in it, and in that various other folders plus plexmediaserver.pid and Preferences.xml.

All are owned by root with mask rwxr-xr-x . Are those ownership and chmod mask values what you would expect, or could that be the issue here?

Also gene

[2018-04-26 13:51] Darren-Hill commented on #10
OK a bit more - if I chmod -R 777 on /media/cloud/plex then it works.

So could you please advise the correct owner and mask for that library folder so I can set it up correctly?

[2018-04-26 19:41] jaymoulin commented on #10
I have the exact same context as you : RPI3 + HypriotOS.
My docker version is 18.04.0-ce and I start my container with a `docker-compose.yml` file to ease processes

[code]

[code]

First, the folders you see in Library are created by Plex Media Server with root rights, this is a normal behaviour as I can not determine which users are available on each host. If you want to change this value, I sug

[2018-04-26 20:02] Darren-Hill commented on #10
I'm fine with the library files being root if that's what's intended. I've just seen issues in other Raspbian situations relating to users and access rights, so wanted to check.

The Library volume is on the ext4 partition, and seems to be working fine. The media is on the NTFS partition, and aside from that isn't really related to the issue as far as I can see.

Earlier I actually had the server

[2018-04-26 20:10] jaymoulin commented on #10
Please be sure your library folder is empty before creating your container.

Do you mind trying to launch plex container ONLY? Just to be sure your other containers are not interfering with IO, inode or network?

[2018-04-26 20:17] Darren-Hill commented on #10
Just launched a new container and inspected the logs for it. There are one or two errors in there which might or might not be relevant

`$ docker run -d --restart=unless-stopped --name plex -v /media/USB:/media -v /media/cloud:/root/Library --net=host jaymoulin/plex

d537c137173bd7aef922ef5735976ab4a5898214d4c56d99618812a3ef16e38d

$ docker logs -f plex
6 3000 /root/Library/Application Support
819

[2018-04-26 20:20] jaymoulin commented on #10
No problem with those logs. I did not estimate that `Plex Tuner Service` would be a valuable service in this container to dare migrating it. PMS seems to work well without it by the way

[2018-04-26 20:23] Darren-Hill commented on #10
Fair enough - just thought I'd mention it.

Same result with just the plex container - I can see the server and use it, I just can't claim it for some reason.

[2018-04-26 20:25] Darren-Hill commented on #10
This is an inspection of the Plex container, in case it offers anything:

[code]

[2018-04-26 20:29] jaymoulin commented on #10
Do you have another device to try and claim your Plex server than the actual you're trying to use? Tablet? cellphone?

[2018-04-26 20:32] Darren-Hill commented on #10
Already tried that - another Pi running Kodi and the plex add-on, an iPhone 7 and an Android tablet.

All tried and failed to claim.

[2018-04-26 20:33] Darren-Hill commented on #10
By the way, if I try to connect to http://192.168.0.111:32400 (without the /web/index.html on the end) I see this:

This XML file does not appear to have any style information associated with it. The document tree is shown below.
<MediaContainer size="21" allowCameraUpload="0" allowChannelAccess="1" allowMediaDeletion="1" allowSharing="1" allowSync="0" allowTuners="1" backgroundProcessing="1" comp

[2018-04-26 20:38] Darren-Hill commented on #10
Also if I try to directly go to http://192.168.0.111:32400 (without the /web/index.html on the end) I get a dump-out of an xml file rather than the dashboard.

See attached screengrab, as Github is mangling the text of a copy/paste
![capture](https://user-images.githubusercontent.com/5332800/39330620-1db45998-499a-11e8-867f-b6074ce8fe16.PNG)

[2018-04-26 20:42] jaymoulin commented on #10
This is not related to docker plex image but to Plex. I think this is a protocol message for the server to be detected by DLNA capable apps.  (https://forums.plex.tv/discussion/87880/this-xml-file-does-not-appear-to-have-any-style-information-associated-with-it-the-document-tree-is)

Could you please copy/paste | screenshot your exact error message when claiming you server? I don't think your issu

[2018-04-26 20:48] Darren-Hill commented on #10
OK I'm now utterly confused, as I sat here pressing next whilst waiting and it's claimed it after about the 4th attempt. If it does recur though I'll gladly get you a screenshot, but it's just a scarlet/red box with "Unable to save these settings at this time" in it that appears over the top of the screen.

[2018-04-26 20:51] jaymoulin commented on #10
Already searched for it and nothing seems to be existing with your error message and Plex.

To be sure I'm not mistaking: Could you please confirm your issue is resolved?

[2018-04-26 20:53] Darren-Hill commented on #10
At the moment yes, after repeated trying (and the error message popping up on the previous attempts) on the 4th try it just went to the next screen (the one for libraries) and I currently now have a claimed server securely linked to my account.

I didn't do anything different, hence why I'm confused about why it worked. But yes for now we can close this, and if it recurs again I'll open a new issu

[2018-04-26 20:55] #10 closed, assigned to jaymoulin

[2018-04-26 20:58] jaymoulin commented on #10
Don't hesitate to :
- Star this repo
- Star the docker image
- Donate!

Nothing is required but helps to continue crafting free products

[2018-05-24 11:06] TonyTheTechie opened #11 "How to update PMS image"
What is the procedure to update the PMS image?

[2018-05-24 11:26] jaymoulin commented on #11
[code]

[2018-05-24 11:26] #11 closed, assigned to jaymoulin

[2018-06-04 19:15] stephane-r opened #12 "Plex server don't start on Pi3"
Hi :)

I've try to start your container on my Pi3. The web port 32768 is available but the server to 32400 port is not found.

I've try with docker-compose :

[code]

On portainer i see published port `32768:32400` :/

Maybe I did something wrong ?

Thanks you :)

[2018-06-04 22:21] jaymoulin commented on #12
Try this:

[code]
Also, please make sure your `/mnt/usbdrive` is an existing folder

[2018-06-05 12:11] stephane-r commented on #12
Hi @jaymoulin

It work with `network_mode`. I can access to port 32400 (but published port is empty in portainer).
Just, my library is empty, maybe I did something wrong too .. but the server is running :)

`/mnt/usbdrive` is my library, right ?

Thank for your help :) !

[2018-06-05 17:57] jaymoulin commented on #12
`/mnt/usbdrive` should be the path to your library (your physical drive). In your plex server, you can find your library in `/media`

[2018-06-05 17:57] #12 closed, assigned to jaymoulin

[2018-06-18 09:53] hobbypunk90 commented on #8
heyho,

i'm not sure if its a similar problem 🤔 i run an aarch64 arch linux on my pi3. Installing the container is no problem, but when i try to start it, i get this error:
`standard_init_linux.go:190: exec user process caused "exec format error"`

[2018-06-18 13:35] jaymoulin commented on #8
Not the same issue, please create a specific issue for your case without forgetting to give all your context (commands, logs etc...)

[2018-06-18 19:38] hobbypunk90 opened #13 "Can't start on an aarch64 arch linux raspberry pi"
Heyho,

i have no idea why, but this is everything i got. Perhaps you have an idea how i get more output?
[code]

[2018-06-18 22:30] jaymoulin commented on #13
Could you please try with this command :

[code]

This is just temporary to see if the crosscompiler fails to compile for arch64 and arm64v8 should be compatible

[2018-06-19 09:03] hobbypunk90 commented on #13
The result is the same 😞:
[code]

[2018-06-19 22:39] jaymoulin commented on #13
This may take a moment before I resolve this issue. I have a clue, be you'll have to be patient to VERY patient for this issue to be resolved. Users may experiment this issue with arm32v6 as well.

[2018-06-22 10:08] jaymoulin commented on #13
Maybe can you try this one as arm64 is supposed to be able to run arm32 binaries?

[code]

[2018-06-22 13:36] hobbypunk90 commented on #13
hey, i think you mean the arm32v6 container? there is no arm32v7 build 😁
[code]

[2018-07-25 08:17] jaymoulin opened #14 "Plex doesn't start anymore since 1.13.4"
[code]

Looks like something is broken with updated version or conflicted with another feature

[2018-07-25 14:02] jaymoulin commented on #14
https://forums.plex.tv/t/plex-media-server-not-starting-after-latest-update-on-synology/284519/277

[2018-07-25 14:27] jaymoulin commented on #14
still broken

[2018-07-25 22:20] #14 closed, assigned to jaymoulin

[2018-08-12 10:21] reloxx13 opened #15 "libstdc++.so.6 No such file or directory"
Heya,

since the last update i cannot play videos anyore.
I tried to fix it myself or find the problem but i could not solve it :S

This is the output of

docker logs --tail 50 --follow --timestamps Plex

I run PLEX Docker on a Pi 3b+ latest Raspbian
Linux Pi3B-01 4.14.54-v7+ #1126 SMP Wed Jul 11 20:01:03 BST 2018 armv7l GNU/Linux

Installed with:

[2018-08-12 12:20] jaymoulin commented on #15
Please provide me the full log to see what really happens

[2018-08-14 03:04] TrevorVonSeggern commented on #15
I have the same error. Here are my full logs:
[code]

[2018-08-14 06:23] jaymoulin commented on #15
All I can see here is a running service. You can access your PMS at http://your_raspberry_IP:32400/

[2018-08-16 14:52] #15 closed, assigned to jaymoulin

[2018-08-20 17:33] giejay opened #16 "Not accessible outside network"
Thanks for this really great image.

One question, I keep having issues with the plex server not being reachable through the internet or not reachable securely. Sometimes, when I select, allow insecure connection, it works, but most of the time it doesnt. Off course I forwarded the 32400 port (TCP and UDP) in my router, but this doesn't do much:( Checked if the port is really accessible through ht

[2018-08-21 07:26] jaymoulin commented on #16
If you look in `Settings > Server > Remote Access`, Plex should show you if the server is accessible or not. If it is, then you have nothing to do but have a better network connection

[2018-08-21 07:26] #16 closed, assigned to jaymoulin

[2018-08-24 21:20] jaymoulin commented on #13
https://forums.plex.tv/t/armv8-platform-alpha-testing-synology-and-qnap/275940

It should work with this beta. I published a `jaymoulin/plex:1.13.6-aarch64` image that you can use. I will update this when the release is done

[2018-09-18 08:16] dpnoworyta opened #17 "looking for servers..."
Hi there,
I've recently pulled jaymoulin/plex for rpi3, booted without any issue (docker logs shows only this)

Went to the web and what I see is plex web interface but in the top left corner there is "Looking for servers..." dialog with spinning wheel. No idea how to pass that and/or why it is not seeing rpi3 as a media server.
Have you got any clue maybe?

EDIT:
Also in logs I've found:
`WARN -

[2018-09-18 09:30] jaymoulin commented on #17
Can you please copy your CLI command. make sure the `--network=host` flag is present and you went to your rpi3 IP and not on plex.tv to reclaim your server

[2018-09-18 09:30] dpnoworyta commented on #17
Alright, after a while searching through the web, everything went clear. The problem I've observed was accessing shares outside the local network. It seems that PMS is doing this on purpose:

More info: https://forums.plex.tv/t/looking-for-servers-not-finding-local-server-host/194979/9

Can be closed, thanks and sorry ;)

[2018-09-18 09:33] jaymoulin commented on #17
No problem, your issue will serve other people

[2018-09-18 09:33] #17 closed, assigned to jaymoulin

[2018-11-23 13:07] jaymoulin commented on #13
A new beta version has been released. Still no news on the final release date but I published a `jaymoulin/plex:1.14.0-aarch64` if you want to give it a try

[2018-12-08 16:01] hobbypunk90 commented on #13
sorry, for the late reply, i started your release minutes ago.
~~it don't find any server... i have no ideas why 🤔~~
without dns resolution to my pi is works 😁

[2019-02-17 10:34] badokun opened #18 "Docker container in restart loop"
**Description**

Docker container restarts on a 1 minute interval. Logs indicate
[code]

**Steps to reproduce the issue:**
1. docker run -d --restart=always --name plex -v /mnt/usbdrive:/media --net=host jaymoulin/plex
2. docker ps

**Describe the results you received:**
Plex appears to be running but in an infinite restart loop

**Describe the results you expected:**
The docker container should r

[2019-02-17 10:46] jaymoulin commented on #18
The error message means `Plex is already running`. If your 100% sure that you don't have any other Plex instance (can be a real one or another docker container) then delete your `plexmediaserver.pid` file which should located in the path you mounted as a volume.

[2019-02-17 11:50] badokun commented on #18
To be sure I removed my current installation altogether, with `docker rm plex` and `docker rmi xxxxx`. Even removed the dangling volume with `docker system prune --volumes`

After I recreated the container, I ran `docker inspect plex` which showed me where the /root/Library folder is mapped to. In my case `/var/lib/docker/volumes/40496bd9ff0ae85e040c4db0791ee16c742ed8f9eb4d81b302f6e1617215c01a/_da

[2019-02-17 11:55] jaymoulin commented on #18
You don't have to do that.
`README.md` says

which you probably did. In the mounted volume (`README.md` says `/mnt/usbdrive` but you probably set yours), you'll find a path to your `plexmediaserver.pid` : </mnt/usbdrive>/Application Support/Plex Media Server/plexmediaserver.pid

[2019-02-17 12:02] badokun commented on #18
I recreated the container by running
[code]

Here's what I see
[code]

I dont see the pid file ever being created.

[2019-02-17 12:04] badokun commented on #18
It has write permissions since the `library` and `media` folders where created on startup

[2019-02-17 12:07] jaymoulin commented on #18
What does `docker inspect plex --format='{{index .Config.Labels.version}}'` returns?

[2019-02-17 12:39] badokun commented on #18
`1.14.1`

[2019-02-17 12:45] jaymoulin commented on #18
What is your return of `docker images | grep plex`? I mean, are you running on a PC/Rpi/Nas?

[2019-02-17 13:06] badokun commented on #18
Running on a raspberry pi

[code]

I would expect all users to see the same behavior if they looked. The docker image restarts very quickly so may not be noticeable.

[2019-02-17 13:11] jaymoulin commented on #18
No user is affected by your issue which means something on your side is not behaving as expected. Maybe you can try without mounting your configuration volume so Plex will recreate its configuration from scratch.

[2019-02-17 13:18] badokun commented on #18
Yea let me give that a go

[2019-02-24 09:19] #18 closed, assigned to jaymoulin

[2019-03-13 19:57] romadiz opened #19 "Can't user plex in raspberry pi 3"
I use docker and docker compose to install plex in my raspberry pi 3 but I always get the same error
[code]

**Steps to reproduce the issue:**
1. Run the container
2. Try to configure plex server
3. Plex server show a message because it couldn't save the configuration

In logs I get this messae
[code]

[2019-03-13 20:01] jaymoulin commented on #19
Can you provide required information?
[code]

[2019-03-13 20:35] romadiz commented on #19
[code]

[2019-03-13 20:37] jaymoulin commented on #19
Looks like you're using an old version, are you using `jaymoulin/plex` image?

[2019-03-13 20:42] romadiz commented on #19
I just stop, remove and run it again but the version is still the same.

[code]

[2019-03-13 20:43] jaymoulin commented on #19
You have to `docker pull jaymoulin/plex` to update an image, then, recreate your container

[2019-03-13 20:47] romadiz commented on #19
I'm trying
[code]

I don't know what's wrong.

[2019-03-13 20:59] jaymoulin commented on #19
What does `uname -m` return?

[2019-03-13 21:21] romadiz commented on #19
[code]

[2019-03-13 21:26] jaymoulin commented on #19
Could you please confirm that your container `plex` is now running.
When this is confirmed, you can delete it and fix your `docker-compose.yml` file to replace
`/home/pi/plex:/root/Library/Application Support/Plex Media Server` by `"/home/pi/plex:/root/Library/Application Support/Plex Media Server"` and relaunch your compose setup

[2019-03-14 19:56] romadiz commented on #19
Hi, sorry for the delay.

I have this in docker-compose
[code]
Then I execute docker-compose -up -d and I have this error
[code]

[2019-03-14 23:41] jaymoulin commented on #19
You have a misconfiguration of your docker daemon, I can't do anything for you.

[2019-03-15 07:55] romadiz commented on #19
Finally I format my sd card and reinstall all again. Now Plex is working fine although the version is still 1.14.1. Thanks for your help!!

[2019-03-15 07:55] #19 closed, assigned to jaymoulin

[2019-03-19 07:33] jaymoulin commented on #13
Told you it could take some time before this is resolved, but finally, you should be able to use it on the stable release!

[2019-03-19 07:33] #13 closed, assigned to jaymoulin

[2019-03-22 23:48] alyyousuf7 opened #20 "Add view access to CI or automated build"
You've made last commit 2 hours ago and the newer images are pouring into Docker Hub one by one. It would be really nice if we can see what's the progress of the images being built.

If you're using CI, please add a link to that on GitHub and/or Docker Hub.

[2019-03-22 23:49] jaymoulin commented on #20
Can't do 'cause hub docker can't build anything but amd64 images and it's not the only purpose of this repository

Addition: use to work on travis but they changed something and now qemu are segfaulting -_-
https://travis-ci.org/jaymoulin/docker-plex

Addtion: You can still subscribe to https://twitter.com/DockerPlex to know when everything is ready

[2019-03-22 23:49] #20 closed, assigned to jaymoulin

[2019-09-17 01:57] zeroidle opened #21 "./Plex Media Server: error while loading shared libraries: ld-linux.so.3: cannot open shared object file: No such file or directory"
**Output of `docker inspect plex --format='{{index .Config.Labels.version}}'`:**

[code]

**Description**

**Steps to reproduce the issue:**
1. After updated version, this error message occured
2.
3.

**Describe the results you received:**

**Describe the results you expected:**
 **ln -s /usr/glibc-compat/lib/ld-2.22.so /usr/glibc-compat/lib/ld-linux.so.3**

**Additional information you deem impor

[2019-09-17 11:10] jaymoulin commented on #21
Happens since plex released 1.16.6. Works on amd

[2019-09-17 11:58] #21 closed, assigned to jaymoulin

[2019-09-22 06:41] zeroidle commented on #21
Thank you for your reply.

[2019-09-22 12:42] jaymoulin commented on #21
You're welcome. Please consider giving donation if you find my work useful.

[2019-11-30 04:26] ptarjan opened #22 "`docker restart` forgets my server"
**Output of `docker inspect plex --format='{{index .Config.Labels.version}}'`:**

[code]

**Description**

When I update my docker image I lose all my configuration (library locations, etc.). I think it has something to do with needing `PLEX_CLAIM` as an environment variable?

**Steps to reproduce the issue:**
1. `docker-compose pull`
2. `docker-compose down`
3. `docker-compose up -d`

**Describe

[2019-11-30 04:57] jaymoulin commented on #22
Thank you for reporting this issue.

If you find this product useful, please consider donating. You can also support this by watching ads on https://utip.io/femtopixel as much as you like.

I think you should post your `docker-compose.yaml` file to be sure how your container was set.
This stated, I'm pretty sure this is surely not related to `PLEX_CLAIM` environment variable and you forgot to set

[2019-12-01 02:42] ptarjan commented on #22
Thanks for taking a look at the issue and for teaching me a thing or two about `docker-compose`.

My `docker-compose.yaml` is as follows:

[code]

And I do think it is working since the files seem to be written
[code]

Does your plex need to be re-claimed on upgrade?

[2019-12-01 08:08] jaymoulin commented on #22
Interesting. I do have a similar `docker-compose.yml` file but I can't reproduce your issue:

[code]

As your file are existing in your host drive, this should be working and your PMS should not need to be reclaimed. Is your PMS linked to a plex account?

[2019-12-01 16:51] ptarjan commented on #22
Interesting that yours works. Did you try downgrading and upgrading the image (can you do that with `docker-compose`?). I recently added `PLEX_CLAIM` to my environment variables as suggested by some online guides (https://github.com/plexinc/pms-docker#host-networking most notably) and I can restart the container without problems now, but I haven't tried to update it yet since you haven't released

[2019-12-01 21:38] jaymoulin commented on #22
I never added `PLEX_CLAIM` environment to my container. As far as I understand, this environment var is created by PMS when requesting, and its value is added then added in `Preferences.xml` in the Library folder (the reason I thought your volume was not mounted) (source: https://forums.plex.tv/t/plexpass-tag-and-plex_claim/172669).

You can downgrade your plex version by specifying which version

[2019-12-02 11:22] minakmostoles opened #23 "Problem with transcoder in RP4"
change from raspberry pi 3 to 4. In RP3 is fine but in RP4 is´t working corretly. The services work but the transcoding is broken.
When you open a video file you have a next string "Conversion failed. The transcoder exited due to an error."
It´s the same with all video file. The audio file work fine.

i see in the log file that i have the next warn:
Error loading external lib: /root/Library/Applic

[2019-12-04 07:25] jaymoulin commented on #23
Thanks you for reporting this.

If you find this product useful, please consider donating to help me continue building and maintaining great products.

As I am not part of Plex Teams, I will not be able to fix transcoder related issues.
According to this article (https://forums.plex.tv/t/solution-conversion-failed-the-transcoder-exited-due-to-an-error/234363/604), it seems to be a known issue.

Ne

[2019-12-04 15:43] minakmostoles commented on #23
Yes I know your proyect https://github.com/jaymoulin/docker-rpi-plex-video-converter/ is fine but finaly with this conversion you have a little lost quality and then you need to check the new file if it turned right.
And finaly in plex the file that I convert with you docker-rpi-plex-video-converte don't work either.
Finaly, i have this problem long  time and in this moment i use de emby server (W

[2019-12-09 07:31] #22 closed, assigned to jaymoulin

[2019-12-09 07:32] #23 closed, assigned to jaymoulin

[2020-03-01 09:48] Taorni opened #24 "Container fails on startup"
**Output of `docker inspect plex --format='{{index .Config.Labels.version}}'`:**

[code]

**Description**
Hello,
while starting the container for the first time with docker-compose, the following message get logged:
[code]

Thank you for taking your time for this issue.

**Steps to reproduce the issue:**
1. Pull the image from docker hub
2. Create a docker-compose.yml like described below
3. docke

[2020-03-01 11:20] Taorni commented on #24
After further research, this seems to be a problem with plex itself on my rpi4.
I'm closing this issue as it has nothing to do with your image.

Regards

[2020-03-01 11:20] #24 closed, assigned to jaymoulin

[2020-03-21 22:53] luisbecerril-ips opened #25 "Plex doesnt start, error on running image"
**Output of `docker inspect plex --format='{{index .Config.Labels.version}}'`:**

[code]

**Description**
Upon running the following command ` sudo  docker run --rm  --name plex -v $(echo $HOME)/plex:/media --net=host jaymoulin/plex` I get the following output:
[code]
I am running this on my Raspberry Pi B. This is the output of the commando `uname -a`
[code]

**Steps to reproduce the issue:**
1.

[2020-03-22 11:01] jaymoulin commented on #25
Maintaining an application (answering questions, fixing bugs, adding new features...) is a hard and time consuming process. If you find this product useful and all the effort I put crafting this, I strongly encourage you to donation to help me being able to continue maintaining this and creating other great things on those platforms [![PayPal donation](https://github.com/jaymoulin/jaymoulin.github

[2020-03-23 00:28] luisbecerril-ips commented on #25
I just ran the following commands:
` sudo docker rmi jaymoulin/plex`

and then
`sudo docker pull jaymoulin/plex`

After downloading the latest image I ran:

` sudo docker run --name plex -v $(echo $HOME)/plex:/media --net=host jaymoulin/plex`

This exits with the following message:
[code]
Performing the command `docker inspect plex --format='{{index .Config.Labels.version}}'` I get the following o

[2020-03-23 12:17] jaymoulin commented on #25
I don't own a RPI4 so I'm not really sure on how it should behave on this hardware.
I notice with your commands some things that might prevent a good usage:
1. docker commands should not be runned with `sudo` - Make sure your user has corrects rights to do it `sudo usermod -ag docker $USER`
1. Make sure your docker version is up-to-date - (I own an RPI3b+ but mine is actually `$> docker --version

[2020-03-30 09:05] #25 closed, assigned to jaymoulin

[2020-04-03 19:54] Kawabountou opened #26 "error when i run the docker"
Hi and thant you for your work.

I come to you because I have this error :
Error in command line:the argument for option '--serverUuid' should follow immediately after the equal sign

when I run the command :
docker run -d --restart=always --name plex -v /media/WD:/media --net=host jaymoulin/plex

for information : "/media/WD" is the path to my hard drive.

I don't know how can i resolve this.

A

[2020-04-05 02:57] jaymoulin commented on #26
Maintaining an application (answering questions, fixing bugs, adding new features...) is a hard and time consuming process. If you find this product useful and all the effort I put crafting this, I strongly encourage you to donation to help me being able to continue maintaining this and creating other great things on those platforms [![PayPal donation](https://github.com/jaymoulin/jaymoulin.github

[2020-04-05 13:36] Kawabountou commented on #26
Hi,

finally i found the solution.
the docker must be launched with privilege modes and all work fine :)

Thank you for your job!

[2020-04-05 13:36] #26 closed, assigned to jaymoulin

[2020-06-22 18:12] Haribo112 opened #27 "Oops! No soup for you."
**Output of `docker inspect plex --format='{{index .Config.Labels.version}}'`:**

[code]

**Description**

I used your docker image to create a Plex media server on my Raspberry Pi. Upon connecting to the webinterface, it asked for my login credentials. I gave these credentials, and then it says "Oops! No soup for you. Looks like this server does not want you in."

**Steps to reproduce the issue:*

[2020-06-27 20:18] jaymoulin commented on #27
This may be an error with the latest version of plex or with a non visible instance on your network. Please ensure your container has the `--network=host` parameter. If yes, you may try to downgrade your image by using `jaymoulin/plex:1.19.4.2902` instead.

Let me know

[2020-07-05 22:16] #27 closed, assigned to jaymoulin

[2020-09-08 11:32] jimbotel opened #29 "How to update Plex container but keep all settings"
Hi @jaymoulin ,

This is a question. I'd like to know how to upgrade plex version. Do I need to rm / run a new container based on the latest image?
If that is the case, is there any way to keep all my plex settings/libraries/shares ?
Thanks,
Jaime-

[2020-09-08 11:45] jaymoulin commented on #29
Thank you for your support <3

You can update by pulling the newest image (`docker pull jaymoulin/plex`) and recreating your container using this latest image. All Plex data are stored in the `/root/Library` folder inside your container. If you mounted a volume to this path, you'll not lose anything (cf. https://github.com/jaymoulin/docker-plex#installation Important note).

If you forgot to mount

[2020-09-08 12:02] jimbotel commented on #29
Hi @jaymoulin . Thanks a lot for the prompt response, it's all clear!
I did not mounted a volume for `/root/Library` so I'll follow the second procedure.
Regards,
Jaime-

[2020-09-08 12:02] #29 closed, assigned to jaymoulin

[2020-09-08 12:13] jaymoulin commented on #29
Closed issues remains closed for 7 days. If you still encounter issue for this procedure, you can reopen it. If you confirm everything is OK or don't act until 7 days, I'll lock this issue to avoid other people to interact without any context.

[2020-11-12 11:43] jimbotel opened #30 "Updating Plex container creates a new Plex server"
Hi @jaymoulin ,

I followed the steps you mentioned on issue https://github.com/jaymoulin/docker-plex/issues/29
and they worked, but the new container is identified as a different Plex server which makes things much more complex (e.g. sharing content).
Do you know if there's any way to solve that?

Thanks!

[2020-11-24 12:15] jaymoulin commented on #30
A new plex instance means the library volume is not mounted. Issue closed as it's duplicate of #29 and does not follow Issue Guideline

[2020-11-24 12:15] #30 closed, assigned to jaymoulin

[2020-11-24 13:03] jimbotel commented on #30
Hi @jaymoulin . I cannot comment on #29  as it does not allow adding comments on it.
Can you please clarify what you mean by "new plex instance means the library volume is not mounted" ?
I followed all the steps you mentioned, I'm pretty sure /root/Library is properly mounted. Indeed, all the settings are preserved from the previous container. However, this is seen as different Plex server.

[2020-11-24 13:19] jaymoulin commented on #30
I don't allow comments on Issues when issues are resolved as context varies.
Each issue must fulfill a given guideline when someone creates a new issue.
This template allows me to sort questions/issues apart and help other users to identify their issue and avoiding me to answer everlastingly the same question.
I'd like to remind that maintaining an application (answering questions, fixing bugs, ad

[2020-11-24 18:27] jimbotel commented on #30
hi @jaymoulin
Thanks for your reply. I'm using my own mount folders, i.e.:

`
docker run -d --restart=always --name plex2 -v /home/pi/media:/media --net=host -v /home/pi/plexlibrary:/root/Library jaymoulin/plex
`

but, other than that, it should be the same.

Within  `/home/pi/plexlibrary` I have an 'Application Support' directory, something like:

   `/home/pi/plexlibrary//Application Support/Ple

[2020-11-25 02:26] jaymoulin commented on #30
Why using `plex2` and not `plex` if you don't have a plex instance running? You can check your instances (running or not) with `docker ps -a`. If you ever see any container related to plex, then it explains why your instance is identified as another instance

[2020-11-25 17:08] jimbotel commented on #30
hi @jaymoulin ,
Thanks for your reply ... I do have another plex container, but when I created the new one the other was always stopped.
How could a stopped container be known/detected by a running one?

[2020-11-25 17:11] jaymoulin commented on #30
It is not. You shared the same folder therefore a different instance was run with the same settings

[2020-11-25 17:41] jimbotel commented on #30
hi @jaymoulin ,

I didn't share the same folder. My original container (plex) had Plex data stored in the `/root/Library` folder inside the container, I did not mounted to an external path. So I followed your recomms in #29 :

_If you forgot to mount this volume, you can commit your actual container to create a new one with a mounted volumen (cf. https://stackoverflow.com/questions/28302178/how-ca

[2020-11-27 00:11] jaymoulin commented on #30
Correct me if I'm wrong.
- You created a docker container.
- You commited the path from your created container to a volume
- You stopped your first plex docker container and not deleted it
- You created a new docker container with a mounted `/home/pi/plexlibrary` local directory. You did not use the previously commited volume

You seems to have 2 plex instances, explaining your symptoms. With your

[2021-03-15 03:52] CheckeredFlag opened #31 "Warning when starting on Raspberry Pi 4"
**Output of `docker inspect plex --format='{{index .Config.Labels.version}}'`:**

[code]

**Description**
When starting the `jaymoulin/plex` container, I get the following warning:
[code]

**Steps to reproduce the issue:**
1. docker pull jaymoulin/plex
[code]
2. docker run -d --restart=always --name plex -v /srv/media:/media -v /srv/media:/root/Library --net=host jaymoulin/plex
[code]

**Describe

[2021-03-15 04:03] CheckeredFlag commented on #31
I have worked around this by doing:
[code]
This has silenced the warning.  I wonder if I've been running a 64 bit version when it should really be 32 bit though I can't understand how it would even work at all.

Perhaps this will help my stability issues as Plex has stopped responding and I've needed to reboot the server about once a week.

[2021-03-15 04:06] CheckeredFlag commented on #31
Jay, do you still not have a RPI4 to test with?  If not, I'll buy you one - how much are they over there?

[2021-03-15 14:23] jaymoulin commented on #31
Rpi4 should be an arm64 architecture.  It looks like you installed a special revision on your RPI. armhf should be used for RPI3. Maybe you can try installing Raspberry PI OS which should be more adapted (https://www.raspberrypi.org/software/operating-systems/).

The result of this command : `uname -m` should give you something like `aarch64`. This article may help you achive this : https://medium

[2021-03-15 18:25] CheckeredFlag commented on #31
No, I installed the recommended Raspberry Pi OS which is 32bit so `uname -m` yields `armv7l`.  The [64bit version](https://www.raspberrypi.org/forums/viewtopic.php?f=63&t=275372) is still in beta and not yet recommended.

Are you using the beta OS?  I was reluctant to use an unrecommended OS with an app as complex as Plex.

[2021-03-15 18:57] jaymoulin commented on #31
As you already know, I do not possess RPI4 so i'm not using the arm64 version on my own. Nevertheless, I was able to test RPI4 when crafting the Dockerfiles. Nothing should have changed since then but the different plex upgrades.

My info:

[code]

Your issue here relies on the fact docker does not identify the correct image for your architecture, therefore, using an incompatible docker image. Had

[2021-03-15 18:57] #31 closed, assigned to jaymoulin

[2021-03-15 20:49] CheckeredFlag commented on #31
Yes, it indeed sounds like it's a [docker bug](https://github.com/docker/for-linux/issues/1170).  I'm hoping that the workaround I learned will be helpful to someone else.

BTW, I sent you some funds that may help towards a RPI4...or lots of coffee! :)

Cheers!

[2021-03-15 20:52] jaymoulin commented on #31
Thank you very very much for your support <3 This really helps me working on stuff

This may be related as-well https://github.com/docker/for-linux/issues/1025